@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');



.log{
  font-family: "Anton", sans-serif;
}

::-webkit-scrollbar{
  display: none;
}

.mob{
  background: url(../app/assets/images/phone.png);
  background-size: contain;
  background-repeat: no-repeat;
}